<div *ngIf="!isFetching; else loading">
  <div *ngIf="dish">
    <div class="title">{{ dish.name }}</div>
    <div class="dish-img">
      <img [src]="dish.img" alt="{{ dish.name }}"/>
    </div>
    <div class="dish-desc">
      <b>Description:</b><br>
      {{ dish.description }}
    </div>
    <div class="dish-ingredients">
      <b>Ingredients:</b><br>
      {{ dish.ingredients }}
    </div>
    <div class="dish-steps">
      <b>Steps:</b><br>
      <div class="dish-step" *ngFor="let step of steps; let i = index">
        <div class="dish-step-img">
          <img [src]="step.stepImg"/>
        </div>
        <b>{{ i + 1 }} / </b>
        {{ step.stepDescription }}
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>
