.dish-img {
  margin: 10px 0;
  width: 400px;
  height: 200px;
  overflow: hidden;
}
.dish-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dish-desc {
  padding: 10px 0;
}
.dish-ingredients {
  padding: 10px 0;
}
.dish-steps {
  padding: 10px 0;
}
.dish-step {
  margin-bottom: 20px;
}
.dish-step img {
  width: 100px;
  height: 50px;
  object-fit: cover;
}
.dish-step-img {
  margin: 10px 0;
  width: 200px;
  height: 100px;
  overflow: hidden;
}
.dish-step-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
