textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

form {
  width: 50%;
}
input,select {
  height: 34px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.form-group-inline {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.form-group-inline select{
  margin-right: 10px;
}
label {
  display: block;
  margin-bottom: 4px;
}
small {
  margin-top: 2px;
  color: red;
}
.radio {
  display: flex;
  align-items: center;
}
button {
  background-color: #089500;
  color: #fff;
  border: none;
  padding: 6px 20px;
}
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
textarea {
  height: 100px;
}
.steps-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.steps-header button {
  margin: 0 20px;
}
