<div class="title">
  Add dish
</div>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="dishName">Name</label>
    <input
      type="text"
      formControlName="dishName"
      id="dishName"
    />
    <small *ngIf="fieldHasError('dishName', 'required')">
      Enter a dish name
    </small>
  </div>

  <div class="form-group">
    <label for="dishDescription">Description</label>
    <textarea
      formControlName="dishDescription"
      id="dishDescription"
    ></textarea>
    <small *ngIf="fieldHasError('dishDescription', 'required')">
      Enter a dish description
    </small>
  </div>

  <div class="form-group">
    <label for="dishImg">Img</label>
    <input
      type="text"
      formControlName="dishImg"
      id="dishImg"
    />
    <small *ngIf="fieldHasError('dishImg', 'required')">
      Enter a dish name
    </small>
  </div>

  <div class="form-group">
    <label for="dishIngredients">Ingredients</label>
    <textarea
      formControlName="dishIngredients"
      id="dishIngredients"
    ></textarea>
    <small *ngIf="fieldHasError('dishIngredients', 'required')">
      Enter a dish description
    </small>
  </div>

  <div formArrayName="steps">
    <div class="steps-header">
      <label>Steps</label>
      <button type="button" (click)="addStep()">Add step</button>
    </div>

    <div *ngFor="let stepControl of getStepsControls(); let i = index">
      <div class="form-group-inline" [formGroupName]="i">
        <div class="form-group">
          <label for="stepImg">Step Img</label>
          <input
            type="text"
            formControlName="stepImg"
            id="stepImg"
          />
        </div>
        <div class="form-group">
          <label for="stepDescription">Step Description</label>
          <textarea
            formControlName="stepDescription"
            id="stepDescription"
          ></textarea>
        </div>
      </div>
      <small *ngIf="fieldHasError('stepImg', 'required')">
        Img required
      </small>
      <small *ngIf="fieldHasError('stepDescription', 'required')">
        Description required
      </small>
    </div>
  </div>

  <button type="submit" [disabled]="!getFormValid()">
    Save
  </button>
</form>


