.main-menu {
  list-style: none;
  background-color: #fff;
  padding: 0 16px;
  margin: 0 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-menu li a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}
.main-menu li.active a {
  color: #089500;
}
.main-menu li a:hover {
  color: #089500;
}
main {
  background-color: #fff;
  padding: 16px;
}
