<header>
  <div class="container">
    <ul class="main-menu">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/">home</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="add">add</a>
      </li>
    </ul>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
