@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: blanchedalmond;
}
.container {
  width: 960px;
  margin: auto;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid #ccc;
}
