<div class="dishes-list" *ngIf="!isFetching; else loading">
  <div class="dish-list-item" *ngFor="let dish of dishes">
    <div class="dish-img">
      <img [src]="dish.img" alt="{{ dish.name }}"/>
    </div>
    <div class="dish-list-item-info">
      <div class="dish-name">
        <b>Name:</b><br>
        {{ dish.name }}
      </div>
      <div class="dish-desc">
        <b>Description:</b> <br>
        {{ dish.description }}
      </div>
    </div>
    <div class="dish-list-item-actions">
      <a routerLink="dish/{{ dish.id }}">View</a>
      <button (click)="removeDish(dish.id)" type="button">Delete</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>
