.dishes-list {
  display: flex;
  flex-wrap: wrap;
}
.dish-list-item {
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
  padding: 4px;
}
.dish-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.dish-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dish-list-item-info {
  margin: 10px 0;
}
.dish-name {
  margin-bottom: 6px;
}
.dish-list-item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dish-list-item-actions a {
  background-color: #089500;
  color: #fff;
  border: none;
  padding: 6px 20px;
  text-decoration: none;
  font-size: 14px;
}
button {
  font-size: 14px;
  cursor: pointer;
  background-color: tomato;
  color: #fff;
  border: none;
  padding: 6px 20px;
}
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
